<header>
	<div class="cabecera">
		<a href=""><img src="img/menu.jpg" style="position:absolute;"></a>
		<img src="img/logotipo.png" style="position:absolute;left:20%;margin-top:1%;">
		<span style="position:absolute;left:60%;margin-top:2%;color:white;"><img src="img/ico-persona.png" style="padding-right:10px;" >Luigi Guerreros  <b>Administrador</b></span>
		<a href=""><img src="img/ico-siguiente.png" style="float:right;margin-top:2%;"></a>
	</div>
</header>
<section>
	<center>
		<div class="opcion">
			<span style="color:#2dedf7;">Alta Pura </span><img src="img/ico-encendido.png"> <span style="color:white;">Mono TV</span>
		</div>
	</center>

	<center>
		<div class="filtros"><span style="color:white;" >Filtrar por: </span>

			<span>
				<select name="filtro" class="filtro">
					<option>Campana</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Zonal</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Tipo</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Subtipo</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Paquete</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Tecnologia</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Modo Pago</option>
				</select>
			</span>
		</div>
	</center>
</section>