<header>
	<div class="cabecera">
		<a href="dashboard"><img src="img/menu.jpg" style="position:absolute;"></a>
		<img src="img/logotipo.png" style="position:absolute;left:20%;margin-top:1%;">
		<span style="position:absolute;left:60%;margin-top:2%;color:white;"><img src="img/ico-persona.png" style="padding-right:10px;" >Jose Diaz  <b>Administrador</b></span>
		<a href=""><img src="img/ico-siguiente.png" style="float:right;margin-top:2%;"></a>
	</div>
	</header>
<div class="row">
	<div class="col-md-12 sub-header center-xs box-aligner">
		<div class="box-aligner-item text-bold sub-header-text">
			Bienvenido Administrador
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9 g-boxes">
				<div class="center-xs icon-box box-aligner">
					<div class="box-aligner-item">
						<img class="my-icon" src="img/gestion.png">
						<div class="icon-text text-regular">Gestión</div>
					</div>
				</div>
				<div class="menu-gestiones">
					<div class="item-gestiones first-item">
						<a href="/altapura">
							<div class="row">
								<div class="col-md-3 start-xs">
									<div class="text-gestion">
										<div class="headline-bold title-gestion">Alta</div>
										<div class="headline-bold title-gestion">Pura</div>
										<br>
										<div class="text-regular sub-title-gestion">Descripción</div>
									</div>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<img class="next-icon" src="img/ico-siguiente2.png">
								</div>
							</div>
						</a>
					</div>
					<div class="item-gestiones second-item">
						<a href="/altacomponente">
							<div class="row">
								<div class="col-md-3 start-xs">
									<div class="text-gestion">
										<div class="headline-bold title-gestion">Alta</div>
										<div class="headline-bold title-gestion">Componente</div>
										<br>
										<div class="text-regular sub-title-gestion">Descripción</div>
									</div>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<img class="next-icon" src="img/ico-siguiente2.png">
								</div>
							</div>
						</a>
					</div>
					<div class="item-gestiones third-item">
						<a href="/migraciones">
							<div class="row">
								<div class="col-md-3 start-xs">
									<div class="text-gestion">
										<div class="headline-bold title-gestion">Migración</div>
										<br><br>
										<div class="text-regular sub-title-gestion">Descripción</div>
									</div>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<img class="next-icon" src="img/ico-siguiente2.png">
								</div>
							</div>
						</a>
					</div>
					<div class="item-gestiones last-item">
						<a href="/sva">
							<div class="row">
								<div class="col-md-3 start-xs box-aligner">
									<div class="text-gestion">
										<div class="headline-bold title-gestion">SVAS</div>
										<br><br>
										<div class="text-regular sub-title-gestion">Descripción</div>
									</div>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<img class="next-icon" src="img/ico-siguiente2.png">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-9 g-boxes">
				<div class="center-xs icon-box box-aligner">
					<div class="box-aligner-item">
						<img class="my-icon" src="img/panel-control.png">
						<div class="icon-text text-regular">Panel de Control</div>
					</div>
				</div>
				<div class="menu-gestiones">
					<div class="item-gestiones other-first-item">
						<a href="/categorias">
							<div class="row">
								<div class="col-md-5 start-xs">
									<div class="text-gestion">
										<div class="headline-bold title-gestion">Administrador</div>
										<div class="headline-bold title-gestion">de Categorías</div>
										<br>
										<div class="text-regular sub-title-gestion">Descripción</div>
									</div>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<img class="next-icon" src="img/ico-siguiente2.png">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>