<div class="container">
	<img src="img/logotipo.png">

	<form ng-submit="login()">
		<div class="form-input">
			<input class="text-regular" type="text" name="username">
		</div>
		<div class="form-input">
			<input class="text-regular" type="password" name="password">
		</div>

		<input type="submit" name="submit" value="Login" class="btn-login text-regular">
	</form>
	<p><a href="#" class="text-regular">Olvidé mi contraseña</a></p> 

</div>
<style type="text/css">
	
	body {
		margin: 0 auto;
		background-image: url("../img/fondo.jpg"); 
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
</style>