<header>
	<div class="cabecera">
		<a href="dashboard"><img src="img/menu.jpg" style="position:absolute;"></a>
		<img src="img/logotipo.png" style="position:absolute;left:20%;margin-top:1%;">
		<span style="position:absolute;left:60%;margin-top:2%;color:white;"><img src="img/ico-persona.png" style="padding-right:10px;" >Luigi Guerreros  <b>Administrador</b></span>
		<a href=""><img src="img/ico-siguiente.png" style="float:right;margin-top:2%;"></a>
	</div>
	</header>
<section>
	<center>
		<div class="opcion">
			<span style="color:#2dedf7;">SVA </span><img src="img/ico-encendido.png"> <span style="color:white;">SVA TV</span>
		</div>
	</center>

	<center>
		<div class="filtros"><span style="color:white;" >Filtrar por: </span>

			<span>
				<select name="filtro" class="filtro">
					<option>Campana</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Zonal</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Tipo</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Subtipo</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Paquete</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Tecnologia</option>
				</select>
				<select name="filtro" class="filtro">
					<option>Modo Pago</option>
				</select>
			</span>
		</div>
	</center>
</section>
<article>
<span class="titulogestion">SVA</span><a href=""><span class="botoncrear"><center class="crear">Crear</center></span></a> </br></br>
	<table border="0" style="width:100%;table-layout:fixed;border-spacing:0;">
		<tr>
			<td class="camposhead bordeizquierda">Codigo</td>
			<td class="camposhead">Origen</td>
			<td class="camposhead">Campana</td>
			<td class="camposhead">Zonal</td>
			<td class="camposhead">Tipo</td>
			<td class="camposhead">Subtipo</td>
			<td class="camposhead">Paquete</td>
			<td class="camposhead bordederecha">Nombre Paquete</td>
		</tr>		
		<tr>
			<td class="margen">
				AP0001
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Origen</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Campana</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Zonal</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Tipo</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Subtipo</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Paquete</option>
				</select>
			</td>
			<td class="margen">
				<select name="altapura" class="combo">
					<option>Nombre Paquete</option>
				</select>
			</td>
		</tr>
	</table>
</article>